@import "tailwindcss"; 
 
html { 
  scroll-behavior: smooth; 
} 
 
body { 
  background: blueviolet; 
  color: #111827; 
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-in;
}

@keyframes slideDown {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slideDown 0.8s ease-out;
}

@keyframes moveDotDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(120px);
  }
}

.move-down {
  animation: moveDotDown 2s ease-out forwards;
}
@keyframes slideBar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.slide-bar {
  animation: slideBar 2s ease-out forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9) translateY(20px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}